
name: "Publish and create releases"
on:
  pull_request:
    branches:
      - master
    types: [closed]
jobs:
  release:
    name: "Release"
    runs-on: macos-latest
    if: ${{ github.event.pull_request.merged == true && !contains(github.event.pull_request.labels.*.name, 'skip-ci') }}
    steps:
      - name: Checkout the respository
        uses: actions/checkout@v2.2.0

      - name: Setup NodeJS LTS version
        uses: actions/setup-node@v2
        with:
          node-version: "lts/*"

      - name: Setup the project
        run: yarn install

      - name: Generate production build
        run: yarn webpack-build

      - name: Prefix version tag with "v"
        run: yarn config set version-tag-prefix "v"

      - name: Disable Git commit hooks
        run: git config core.hooksPath /dev/null

      - name: Bump the patch version and create git tag on release
        if: contains(github.event.pull_request.labels.*.name, 'release')
        run: yarn version --patch

      - name: Bump the patch version without a git tag on minor changes
        if: "!contains(github.event.pull_request.labels.*.name, 'release')"
        run: yarn version --patch --no-git-tag-version

      - name: Create a new version release commit
        uses: EndBug/add-and-commit@v7
        with:
          branch: master
          message: 'New version release'

      - name: Push the commit to master
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Get the package version from package.json
        uses: tyankatsu0105/read-package-version-actions@v1
        id: package-version

      - name: Create a release draft on release
        uses: release-drafter/release-drafter@v5.15.0
        if: ${{contains(github.event.pull_request.labels.*.name, 'release')}}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag: v${{ steps.package-version.outputs.version }}
          publish: true

      - name: Publish the package on NPM
        uses: JS-DevTools/npm-publish@v1
        with:
          access: "public"
          token: ${{ secrets.NPM_TOKEN }}